@CHARSET "UTF-8";
* {
	font-family: "Malgun Gothic", '맑은 고딕', '나눔고딕', 'Comic Sans MS', '나눔고딕코딩';
	/* font-size:15px;  */
}
* [onclick] {
	cursor:pointer;
}
* [onclick]:hover {
	color:orange; 
	text-decoration:none; 
	text-shadow:1px 1px 1px black;
}

a {
	color:#123;
	text-decoration: none;
}
a:hover {
	color: orange;
	text-decoration: none;
	text-shadow: 2px 2px 2px #123;
}

.selected {
	color: blue;
}

ul.stack-view {
	font-family:"나눔고딕코딩";
	color: black; 
	font-size: .9em;
	list-style:none;
}
ul.stack-view li {
	padding-left: 10px;
	margin-top: 1px;
}
ol.code-view {
	font-family:"나눔고딕코딩";
	color: red; 
	font-size: .9em;
}
ol.code-view li {
	padding-left: 10px;
	margin-top: 1px;
}

li.notExist {
	background-color: rgba(123,0,123,0.5);
	border-radius: 10px;
}

.code-view {
	font-size:9pt;
}
.code-name {
	color:blue;
}
.code-value {
	color: teal;
}
.code-clazz {
	color: navy;
}

.number {
	text-align: right;
}


#stack-trace,
#request-attribute,
#session-attribute {
	text-align: left;
	margin: 10px;
	padding: 5px;
	border-radius:10px; 
	background:rgba(255, 255, 255, .75); 	
}

#error-header {
	text-align: center;
	border-radius:10px; 
	background:rgba(85, 36, 136, .75); 	
}
#error-article {
	text-align: center;
	border-radius:10px; 
	background:rgba(85, 136, 36, .75); 	
}
