@CHARSET "UTF-8";
body#deco_body {
	margin:0 auto; 
	font-family:'Comic Sans MS' '나눔고딕코딩' '맑은 고딕';
	background-repeat: repeat;
	background-position: center center;
	background-size:contain;
}
#deco_header {
	background-color:#588;
	margin:0;
}
#deco_h1 {
	width:900px;
	margin:0 auto;
	font-size: 25px;
}
#deco_h1 a {
	font-family: 'Comic Sans MS' 'Impact' '나눔손글씨 펜' '나눔손글씨 붓' 'URW Chancery L' 'Purisa';
}

#deco_nav {
	/* background-color:lightgreen; */
}
#deco_nav div {
	width:900px;
	margin:0 auto;
 	background-color:rgba(255, 255, 255, .5);
 	padding:0 10px;
}
#deco_nav div section {
	display: inline-table;
	margin: 0;
	padding: 0;
	width:150px;
	background-color:#669393;
	border-radius: 0 0 10px 10px;
	padding-left: 10px;
}
#deco_nav div section h4 {
	margin:0 10px 0 0;
	line-height:28px;
}
#deco_nav div section ul {
	position:absolute;
	background-color:rgba(85, 136, 136, .75);
	margin:0;
	border-radius:0 0 10px 10px;
	list-style:none;
	display:block;
	padding-left:10px;
	width:130px;
	padding-bottom:5px;
}
#deco_nav div section ul li a {
	font-size: 11px;
	margin-right:10px;
}

#deco_section {
	margin:auto;
	padding:10px;
	width: 900px;
	overflow:auto;
 	background-color:rgba(255, 255, 255, .5); 
}
#deco_section_wapper {
	width:100%;
}

#deco_footer {
	position:absolute;
	padding-top: 5px; 
	padding-bottom: 5px; 
	font: 10pt arial; 
	text-align:center;
	bottom: 0px;
	width:100%;
	background-color:rgba(255,255,255,.3)
}
#deco_footer div {
	width:900px;
	margin:0 auto;
}
#deco_footer select {
	font-size:10px;
}
