@CHARSET "UTF-8";
body {
	margin:0;
}

#deco_nav {
	position: absolute;
	top: 0;
	right: 20px;
	margin: 0;
	padding: 0;
	z-index: 99;
}
#deco_nav li {
	font-size: 11px;
	display: inline-block;
	padding: 0px 3px 0px 3px;
	margin: 5px 5px 0px 0px;
	border: 1px solid #888;
	border-radius: 5px;
	background-color: white;
}
#deco_nav li a {
 	color: navy;
	margin: 0;
	padding: 0;
	font-size: 10px;
	text-decoration: none;
}
#deco_nav li a:hover {
	color: orange;
	text-decoration: none;
	text-shadow: 1px 1px 1px navy;
}
#deco_nav li.menu-selected {
	font-weight:bold;
	text-shadow: 1px 1px 2px orange;
	background-color: orange;
}
#deco_nav li.menu-selected a {
	color: white;
}


div#header_div {
	
}
div#content_div {
	overflow:auto; 
	/* text-align:center; */ 
	background-position:center center; 
	background-size:contain;
}
